$color-main: #000000;
$color-base: #ffffff;
$color-sub: #BDBDBD;
$color-error: #e74c3c;
$color-tspt01: rgba(255, 255, 255, .6);
$color-tspt02: rgba(0, 0, 0, .6);
$responsive-sm: 480px;
$responsive-md: 768px;
$responsive-lg: 1024px;
$responsive-xlg: 1440px;
$top-margin01: 94px;
$top-margin02: 48px;
$serif: 'Nanum Myeongjo',
serif;
$sans-serif: 'Catamaran',
sans-serif;
@mixin middle() {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}