.c-arrow-1 {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-left: 1px solid $color-main;
    border-bottom: 1px solid $color-main;
}

.c-arrow-2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-left: 1px solid $color-main;
    border-bottom: 1px solid $color-main;
}

.c-arrow-top {
    transform: rotate(135deg);
}

.c-arrow-right {
    transform: rotate(-135deg);
}

.c-arrow-bottom {
    transform: rotate(-45deg);
}

.c-arrow-left {
    transform: rotate(45deg);
}