.c-btn-circle {
    text-align: center;
    border: none;
    border-radius: 50%;
    letter-spacing: 1.6pt;
    outline: none;
    cursor: pointer;
}

.c-btn-square {
    text-align: center;
    padding: 1rem;
    height: 48px;
    border: none;
    letter-spacing: 1.6pt;
    outline: none;
    cursor: pointer;
}