.c-skin-01 {
    background: $color-main;
    color: $color-base;
}

.c-skin-02 {
    background: $color-base;
    color: $color-main;
}

.c-skin-03 {
    background: $color-tspt01;
    color: $color-main;
}

.c-skin-04 {
    background: $color-tspt02;
    color: $color-base;
}