.p-loading {
    @include innerMiddle;
    flex-flow: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-base;
    z-index: 60;
    overflow: hidden;
    transition: .4s;
    &-obj {
        overflow: hidden;
        width: 96px;
        height: 96px;
        border: 1px $color-sub solid;
        &__item {
            display: block;
            margin-bottom: 18px;
            width: 100%;
            height: 2px;
            opacity: 0;
            transform-origin: left;
            transform: scale3d(0, 1, 1);
        }
        &__item:first-child {
            margin-top: 18px;
        }
        &__item--red {
            background-color: #C78693;
            animation-name: trans-red;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-delay: .2s;
            animation-timing-function: ease-out;
        }
        @keyframes trans-red {
            0% {
                opacity: 0;
                transform: scale3d(0, 1, 1);
            }
            40% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale3d(1, 1, 1);
            }
        }
        &__item--yellow {
            background-color: #C7C486;
            animation-name: trans-yellow;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-delay: .4s;
            animation-timing-function: ease-out;
        }
        @keyframes trans-yellow {
            0% {
                opacity: 0;
                transform: scale3d(0, 1, 1);
            }
            40% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale3d(1, 1, 1);
            }
        }
        &__item--green {
            background-color: #86C786;
            animation-name: trans-green;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-delay: .6s;
            animation-timing-function: ease-out;
        }
        @keyframes trans-green {
            0% {
                opacity: 0;
                transform: scale3d(0, 1, 1);
            }
            40% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale3d(1, 1, 1);
            }
        }
        &__item--blue {
            background-color: #869FC7;
            animation-name: trans-blue;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-delay: .8s;
            animation-timing-function: ease-out;
        }
        @keyframes trans-blue {
            0% {
                opacity: 0;
                transform: scale3d(0, 1, 1);
            }
            40% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale3d(1, 1, 1);
            }
        }
    }
    &-mess {
        margin-top: 32px;
        &__text {
            display: inline-block;
            text-align: center;
            font-size: 1rem;
        }
    }
}