.p-scroll {
    @include innerMiddle;
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 96px;
    height: 96px;
    z-index: 10;
    transition: .4s;
    @media screen and(max-width: $responsive-md) {
        right: 20px;
        bottom: 20px;
        width: 56px;
        height: 56px;
    }
    &__text {
        text-align: center;
        width: 100%;
        font-size: 1rem;
        @media screen and(max-width: $responsive-md) {
            font-size: .8rem;
        }
    }
}