.overlay {
    @include innerMiddle;
    position: fixed;
    background: $color-base;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transform: scale(0, 1);
    animation-name: cover;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes cover {
    0% {
        transform: scale(0, 1);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0, 1);
    }
}